<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
    {% block title %}
        <title>КиНаходка</title>
    {% endblock  %}

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />
</head>

<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/">Главная</a></li>
			    <li><a href="/movies">Список фильмов</a></li>
				<li><a href="/admin/">Админ панель</a></li>
			</ul>
		</div>

{% block content %}

{% endblock %}
	</div>

	<div id="footer">
		<p class="copy right">Все права защищены. Наверное. Но это не точно. Это точно, что не точно. 2023</p>
	</div>
</div>
</body>
</html>