{% extends "base_generic.html" %}
{% block content %}
<br>
<h1>Список фильмов</h1>
{% for movie in film_list %}
    <div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>{{ movie.title }}</h3>
					<div class="item">
						<div class="image left">
							<a href="#"><img src="css/images/project01.jpg" alt="" /></a>
						</div>
						<div class="text left">
							<h4>Сюжет фильма:</h4>
							<p>{{ movie.description }}</p>
							<p><u>Год производства:</u> {{ movie.year_out }}</p>
							<p><u>Страна:</u> {{ movie.get_country }}</p>
							<p><u>Жанр:</u> {{ movie.get_genre }}</p>
							<p><u>Режиссер:</u> {{ movie.author }}</p>
							<p><u>Язык:</u> {{ movie.language }}</p>
							<br>
							<h3><a href="{{movie.url_kp}}" target="_blank">Фильм на Кинопоиске</a></h3>
					<!--    target="_blank" нужен для open in new tab-->
						</div>
						<div class="cl">&nbsp;</div>
					</div>

				</div>
			</div>

			<div class="cl">&nbsp;</div>
		</div>

{% endfor %}

{% endblock %}