{% extends "base_generic.html" %}
{% block head %}

{% endblock %}


{% block content %}
<br>
<p><font size="11">Главная страница проекта КиНаходка</font></p>
<br>
    <p><font size="4">Добро пожаловать на <em>КиНаходка</em>. Это некая пародия сайта КиноПоиск.
    Веб-сайт разработан на Python/Django в качестве тестового задания.
    Используемая БД - PostgreSQL.</font></p>

<br>
<br>
<p><font size="11">Контент проекта</font></p>
<br>
    <p><font size="4">База данных сайта с фильмами "КиНаходка" содержит следующее
        количество фильмов: <strong><u>{{num_films}}</u></strong></font></p>
<br>
{% endblock %}