{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="shell">
	<div class="border">
		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3></h3>
					<div class="item">
						<div class="image left">
							<img src="{% static 'images/logotip.png'%}" width="80%">
						</div>
						<div class="text left">
							<h4>Техническое задание</h4>
							<p>Текст задания: <br>Здравствуйте, Кирилл как и обещал, тех задание: Смотрите нужно при помощи jango
                                построить классическое приложение (mvc) архитектуры  и также имеющее бд(Postgres)
                                Приложение – это сервис по совету фильмов, где пользователи могут заходить
                                авторизовываться и получать списки фильмов для просмотра</p>
						</div>
						<div class="cl">&nbsp;</div>
					</div>

				</div>
			</div>

			<div class="cl">&nbsp;</div>
		</div>
	</div>
</div>
{% endblock %}