{% extends "base_generic.html" %}

{% block content %}

<h1>Главная страница проекта КиНаходка</h1>

    <p>Добро пожаловать на <em>КиНаходка</em>. Это некая пародия сайта КиноПоиск.
    Веб-сайт разработан на Python/Django в качестве тестового задания.
    Используемая БД - PostgreSQL.</p>

<h2>Контент проекта</h2>

    <p>База данных сайта с фильмами "КиНаходка" содержит следующее
    количество фильмов: </p>
<ul>
    <li><strong>Общее количество фильмов в базе: </strong>{{num_films}}</li>
</ul>

{% endblock %}