
{% block head %}
 <style>
   .thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 1px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }
  </style>
{% endblock %}
{% block content %}
<br>
<h1>Список фильмов</h1>
{% for movie in film_list %}

 <p class="thumb"><img src="{{ movie.img.url }}" alt="Фотография 1" width="200" >
  </p>

{% endfor %}

{% endblock %}