{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<br>
<div class="shell">
	<div class="border"><br>
		<center><h1>Список фильмов</h1></center><br>
			</div>
					</div>
{% for movie in film_list %}
    <div id="main">
			<div id="content" class="left">
				<div class="projects">
					<a href="{{movie.id}}" target="_blank"><h3>«{{ movie.title }}» </h3></a>
					<div class="item">
						<div class="image left">
							<a href="{{movie.id}}" target="_blank"><img src="{{ movie.img.url }}" width="150"></a>
						</div>
						<div class="text left">
							<h4>Сюжет фильма: {{ movie.rating}}</h4>
							<p>{{ movie.description }}</p>
							<br>
							<h3><a href="{{movie.url_kp}}" target="_blank">Фильм на Кинопоиске</a> ||
							<a href="{{movie.id}}">Оставить оценку и комментарий к фильму</a></h3>
					<!--    target="_blank" нужен для open in new tab-->
							<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
<br>
<div class="cl">&nbsp;</div>
<div class="cl">&nbsp;</div>
{% endfor %}

{% endblock %}